{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% stylesheets  "@VyatkinaAElectricBundle/Resources/public/css/field.css" %}
    <link href="{{ asset_url }}" rel="stylesheet" />
    {% endstylesheets %}
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    {% javascripts '@VyatkinaAElectricBundle/Resources/public/js/light.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    {% include('@VyatkinaAElectric/Default/modal.html.twig') %}
    {{ parent() }}
    <div class="row">
       <div class="col-lg-4 col-lg-offset-4">
           <p class="test">Hello World!</p>

       </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            {% include ('@VyatkinaAElectric/Default/buttons.html.twig') %}
        </div>
        <div class="col-lg-4">
                {% include('@VyatkinaAElectric/Default/field.html.twig') %}
        </div>
        <div class="col-lg-4">
            <div class="counter">0</div>
        </div>
    </div>

{% endblock %}